* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 720px;
    margin: auto auto;
    background-image: url("./images/descripcion.jpg");
    padding: 50px 0;
}

.container2 {
    width: 100%;
    height: 730px;
    margin: auto auto;
    background-image: url("./images/panel.jpg");
    padding: 50px 0;
}

.container3 {
    width: 100%;
    height: 900px;
    margin: auto auto;
    background-image: url("./images/descripcion.jpg");
    padding: 50px 0;
}

.container4 {
    width: 100%;
    height: 100%;
    margin: auto auto;
    background-color: #333;
    padding: 50px 0;
}

.container5 {
    width: 100%;
    height: 100%;
    margin: auto auto;
    background-image: url("./images/descripcion.jpg");
    padding: 50px 0;
}

.container6 {
    width: 100%;
    height: 100%;
    margin: auto auto;
    background-color: #333;
    color: white;
    padding: 50px 0;
}

.container6 h2 {
    text-align: center;
}

.container6 pre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

.subtitle {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.authors {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;

}

.description {
    margin: 60px auto 0 auto;
    width: 800px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.introduccion {
    margin: 60px auto 0 auto;
    width: 800px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.introduccion p {
    margin-bottom: 5px;
}

.esquematico {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.esquematico1 {
    max-width: 90%;
}

.enlace {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: orange;
}


.contacto {
    background-color: darkcyan;
    padding: 50px 0;
    text-align: center;
}

.contacto h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.container-contacto {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont1 {
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cont2 {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
    /* Media query para pantallas <= 600px */

    .container,
    .container2,
    .container3,
    .container4,
    .container5,
    .container6 {
        padding: 5px 0;
    }

    .description,
    .introduccion {
        margin: 5px auto 0 auto;
        width: 95%;
        font-size: 14px;
        padding: 10px;
    }

    .esquematico {
        margin-top: 5px;
    }
    .esquematico1 {
        max-width: 450px;
    }


    a {
        width: 95%;
    }

    .contacto {
        padding: 10px 0;
    }

    .cont1,
    .cont2 {
        margin: 0 3px;
    }
}

@media only screen and (max-width: 400px) {
    /* Nueva media query para pantallas <= 400px */

    .container,
    .container2,
    .container3,
    .container4,
    .container5,
    .container6 {
        padding: 2px 0;
    }

    .description,
    .introduccion {
        margin: 2px auto 0 auto;
        width: 90%;
        font-size: 12px;
        padding: 5px;
    }

    .esquematico {
        margin-top: 2px;
    }

    .esquematico1 {
        max-width: 350px;
    }
    a {
        width: 90%;
        font-size: 12px;
    }

    .contacto {
        padding: 5px 0;
    }

    .cont1,
    .cont2 {
        margin: 0 2px;
    }
}